@model Lab5.Models.ViewModels.DealsPostsViewModel

@{
    ViewData["Title"] = "Deals for " + Model.FoodDeliveryService.Title;
}

<h1>Deals for @Model.FoodDeliveryService.Title</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.FoodDeliveryService.Id">Upload New Deal</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Preview</th>
            <th>File Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var deal in Model.Deals)
        {
            <tr>
                <td>

                    <img src="~/uploads/@deal.DealTitle" alt="Flyer Image" style="max-width:200px; height:auto;" />
                </td>
                <td>@deal.DealTitle</td>
                <td>
                    <a asp-controller="Deals" asp-action="Delete" asp-route-id="@deal.FoodDeliveryServiceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="FoodDeliveryServices">Back to List</a>
</div>